WebServices.ConsoleClient/Connected Services/WCFPlayerServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62106/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62106/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62106/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServices.Data.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayer" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayer" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayer" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayerResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPlayers" message="tns:IService1_GetPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPlayersResponse" message="tns:IService1_GetPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPlayer" message="tns:IService1_GetPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPlayerResponse" message="tns:IService1_GetPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPlayer" message="tns:IService1_AddPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPlayerResponse" message="tns:IService1_AddPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdatePlayer" message="tns:IService1_UpdatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdatePlayerResponse" message="tns:IService1_UpdatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePlayer" message="tns:IService1_DeletePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePlayerResponse" message="tns:IService1_DeletePlayer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlayer">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdatePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlayer">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62106/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>